.project
.projectile
bin/
*.dat
vglog.*
*.tmp
*~
*.bak
elpa/
session.*
config.el
*.eld
recentf
smex-items
tramp
network-security.data
org-clock-save.el
.org-id-locations
url/
.mc-lists.el
*.elc
helm-adaptive-history
