.svn/
*~
*.map
*.o
*.d
*.log
*.pyc
obj/
foo.*
*.a
TAGS
*.bin
.#*
.projectile
bin/
*.dat
vglog.*
*.tmp
temp/
*.elc
*.eld
config.el
elpa/
bookmarks
.mc-lists.el
*.elc
helm-adaptive-history
custom.el
.#*
request/
eshell/
bookmarks
abbrev_defs
.trello/
.python-environments/
.org-id-locations
recentf

